

<div class="studentNav">
	<div class="container-fluid">
		<div class="row content">
			<div class="col-sm-3 sidenav">
				<div class="container">
					<h4>
						Add Now Course
						<button style="float: none;" data-toggle="modal"
							data-target="#myModal" ng-click="createCourse(index)">
							<i class="glyphicon glyphicon-plus"></i>
						</button>
					</h4>
					<div class="modal fade" id="myModal" role="dialog">
						<div class="modal-dialog modal-sm">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
								</div>
								<div class="modal-body">
									<label>Course name</label><br> <input><br> <label>Agenda</label><br>
									<input>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default"
										data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search Blog..">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
				</div>
				<div>
					<ul class="nav nav-pills nav-stacked">
						<li>General</li>
						<li>Syllabus</li>
						<li>Schedule</li>
						<li>Presentation</li>
						<li>Resources</li>

					</ul>
				</div>
			</div>
			<div id={{coursesInfo.id}}>

				<p>{{coursesInfo.name}}</p>
				<p>By {{coursesInfo.instructor.firstname}}</p>

				<p>{{coursesInfo.starttime}}</p>
				<p>{{coursesInfo.description}}</p>


			</div>

			<div data-ng-repeat=" instructor in instructors">
				<p>{{instructor.firstname}}</p>


			</div>
		</div>
	</div>
</div>
















