<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h1 class="text-center">Welcome</h1>
        </div>
         <div class="modal-body">
             <div class="form-group">
                 <input type="text" class="form-control input-lg" data-ng-model="username" placeholder="Username"/>
             </div>

             <div class="form-group">
                 <input type="password" class="form-control input-lg" data-ng-model="password" placeholder="Password"/>
             </div>

             <div class="form-group">
                 <input type="submit" class="btn btn-block btn-lg btn-primary" data-ng-click="getuser()" value="Login"/>
                 <button data-ng-click="forgotpassword()" >Forgot Password</button>>
                 <div class="forgotpassword">
			        <input type="text" class="form-control" data-ng-model="username"  placeholder="username"/><br>
			       
			       <button class="btn btn-default"  data-ng-click="send()">Send</button>
     		  </div>
             </div>
         </div>
    </div>
 </div>

 