<div class="studentNavr" > 
	<div class="container-fluid">
 	 <div class="row content">
    <div class="col-sm-3 sidenav">
        <div class="container">
    <div class="instructorBtn"> <h4>Add New Course <button  data-toggle="modal" data-target="#myModal" class="instructorBtn"><i class="glyphicon glyphicon-plus instructorBtn"></i></button></h4></div>
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <div class="modal-body">
            <form>
             <label>Course's name</label> 
             <input type="text" data-ng-model="name"><br>
            <h4><b>Starttime:</b></h4><br>
			 		<input type="text" data-ng-model="starttime"><br>
			 		
			 		
			 		
				<h3>Choose Location:</h3>
		    	<select data-ng-model="location" class="form-control form-control-lg ">
			  		<option data-ng-repeat="locations in classlocation " value="{{locations.id}}">{{locations.name}}</option>
				</select>
				
				
				<br>
				<br>
				<h3>Choose Course-Tag:</h3>
		    	<select data-ng-model="coursetag" class="form-control form-control-lg ">
			  		<option data-ng-repeat="tag in taglist" value={{tag.id}}>{{tag.name}}</option>
				</select><br>
				<br>
				<h3>Description:</h3>
		          <input  data-ng-model="description" class="form-control"  placeholder="add Description"></input>
		          <select data-ng-model="archive" class="form-control" >
                          <option value="true">true</option>
                          <option value="false">false</option>
  
                    </select>
			 	   <button data-ng-click="addNewCourse()">Add new Course</button>
			 	     </form>
			 	     
            </div>
          
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
     <!--------------------------------------  side bar div     --------------------------------------------------->
     <div class="input-group">
        <input   type="text" class="form-control" placeholder="Search Blog..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>    
      <div>
       <button style="width: 60%;text-align: left;" data-ng-click="showUesrCourses()"  class="btn btn-info" role="button">My Courses</button>
       <button style="width: 34%;float:right;text-align: left;" data-ng-click="seeAllCourses()"  class="btn btn-info" role="button">All Courses</button>      
      <ul class="nav nav-pills nav-stacked" data-ng-repeat="tag in taglist | filter:search">
       
          <li><button  class="btn btn-info " role="button" style="width: 60%;text-align: left;"
           data-ng-click="getCoursesByTagCourse(tag.id)" >{{tag.name}}</button></li>
        
      </ul>
    </div>
    </div>
    <!--------------------------------------  MyCoursesdiv     --------------------------------------------------->
      <div     class="row-3 coursesbyins MyCoursesdiv" data-ng-repeat="mycourse in MyCoursesdiv ">
        <div class="col-sm-3">
        <div class="instructorBtn" >
            <button data-ng-click="deleteCourse(mycourse.course.id)" class="btn btn-danger btn-lg instructorBtn" style="float: right;"><span class="glyphicon glyphicon-trash instructorBtn"></span></button> 
 				 <button class="btn btn-info btn-lg instructorBtn" style="float: right;"><span class="glyphicon glyphicon-pencil instructorBtn"></span></button></div>
          <div class="well">
            <h2>{{mycourse.course.name}}</h2>
           <b> by : <i>{{mycourse.course.instructor.firstname}} {{mycourse.course.instructor.lastname}}</i></b><br>
           <b> class : {{mycourse.course.location.name}}</b><br>
           <b>agenda : </b><br>
             <h4>{{mycourse.location.name}}</h4>    
              <button  style="padding-bottom: 0px;"  data-ng-click ="redirectToCoursePage(mycourse.course.id)"  class="w3-button w3-block w3-dark-grey"> See More Info...</button>          
          </div>
        </div>
      </div>
    <!--------------------------------------  allavilableCoursediv      --------------------------------------------------->
      <div  class="allavilableCourse"  class="row-3  allavilableCourse" data-ng-repeat="allavilableCourse in getAvileableCourses ">
        <div class="col-sm-3">
           <div class="instructorBtn"><button class="btn btn-danger btn-lg  " style="float: right;"><span class="glyphicon glyphicon-trash instructorBtn " ></span></button> 
 				 <button class="btn btn-info btn-lg " style="float: right;"><span class="glyphicon glyphicon-pencil instructorBtn"></span></button></div>
 				  <div class="well">
            <h2>{{allavilableCourse.name}}</h2>
           <b> by : <i>{{allavilableCourse.instructor.firstname}} {{allavilableCourse.instructor.lastname}}</i></b><br>
           <b> class : {{allavilableCourse.location.name}}</b><br>
            <b>agenda : </b><br>
             <h4>{{allavilableCourse.location.name}}</h4>   
             <button  style="padding-bottom: 0px;"  data-ng-click ="redirectToCoursePage(allavilableCourse.id)"  class="w3-button w3-block w3-dark-grey"> See More Info...</button>          
          </div>
        <span class="glyphicons glyphicons-roundabout"></span>
      </div>
      <!--------------------------------------  getallCourses      --------------------------------------------------->
      <div   class="row-3 getallcourses" data-ng-repeat="course in getallCourses">
        <div class="col-sm-3">
           <div class="instructorBtn"> 
                   <button class="btn btn-danger btn-lg " style="float: right;"><span class="glyphicon glyphicon-trash instructorBtn"></span></button> 
 				 <button class="btn btn-info btn-lg " style="float: right;"><span class="glyphicon glyphicon-pencil instructorBtn"></span></button></div>
          <div class="well">
                <h2><b>course name: </b>{{course.name}}</h2>
            <p>by : {{course.instructor.firstname}} <i></i></p>
            <p>location :{{course.location.name}} </p>
             <h4> description : {{course.description}}</h4>
              <button  style="padding-bottom: 0px;"  data-ng-click ="redirectToCoursePage(course.id)"  class="w3-button w3-block w3-dark-grey"> See More Info...</button>          
          </div>
        </div>
      </div>
        
      <!--------------------------------------  tagcoursediv      --------------------------------------------------->
      <div class="tagcoursediv "    data-ng-repeat="tag in tagcourse">
             <div class="col-sm-3">
                <div class="instructorBtn"> 
              <button class="btn btn-danger btn-lg " style="float: right;"><span class="glyphicon glyphicon-trash instructorBtn"></span></button> 
 				 <button class="btn btn-info btn-lg " style="float: right;"><span class="glyphicon glyphicon-pencil instructorBtn"></span></button></div>
       <div class="well">
            <h2>{{tag.name}}</h2>
             <b>by : <i>{{tag.instructor.firstname}} {{tag.instructor.lastname}}</i></b>
             <h4>{{tag.agenda}}</h4>
             <button  style="padding-bottom: 0px;"  data-ng-click ="redirectToCoursePage(tag.id)"  class="w3-button w3-block w3-dark-grey"> See More Info...</button>          
      </div>
      </div>
      </div> 
      <!--------------------------------------  usersCoursesdiv      --------------------------------------------------->
        <div   id= "{{usercourse.id}}"  class="row-3 usersCoursesdiv"  data-ng-repeat="usercourse in Userscourses ">
        <div class="col-sm-3">
           
          <div class="well">
            <h4>{{usercourse.name}}</h4>
             <h4>{{usercourse.description}}</h4>
              <h4>{{usercourse.instructor.firstname}}</h4>
              <button  style="padding-bottom: 0px;"  data-ng-click ="redirectToCoursePage(usercourse.id)"  class="w3-button w3-block w3-dark-grey"> See More Info...</button>          
          </div>
        </div>
      </div>
     
        <!-------------------  usersCoursesdiv      -------------------------->
      <div  id = "{{archived.id}}"  class="row-3 archivedCources" data-ng-repeat = "archived in archivedCources">         
       <div class="col-sm-3">
           
          <div class="well">
            <h4>{{archived.name}}</h4>
             <h4>{{archived.description}}</h4>
              <h4>{{archived.instructor.firstname}}</h4>
              <button  style="padding-bottom: 0px;"  data-ng-click ="redirectToCoursePage(archived.id)"  class="w3-button w3-block w3-dark-grey"> See More Info...</button>          
          </div>
        </div>
      </div>
      <div   data-ng-repeat="newcourse in newCreatedCourse" id="{{newcourse.id}}" class=" row-3 newCreatedCourse">
      
        <div class="col-sm-3">
           
          <div class="well">
       <h4>{{newcourse.name}}</h4>
        <h4>{{newcourse.instructor.firstname}}</h4>
         <h4>{{newcourse.description}}</h4>
            <h4>{{newcourse.location.name}}</h4>
      </div>
      
      </div>
</div>
     </div>
  </div>
 
 
 </div>
 </div>
