<div class="studentNav" > 
	<div class="container-fluid">
 	 <div class="row content">
    <div class="col-sm-3 sidenav">
      
     <div class="input-group">
        <input   type="text" class="form-control" placeholder="Search Blog..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
      <div >
       
        <button data-ng-click="showStudentsCourses()"  class="btn btn-info" role="button">My Courses</button>
      <ul class="nav nav-pills nav-stacked" data-ng-repeat="x in taglist">      
          <li ><button role="button" id = "{{x.id}}"  class="panel panel-primary" style="background-color: rgba(245, 245, 245, 0);" data-ng-click="getCoursesByTagCourse(x.id)">{{x.name}}</button><br></li>        
      </ul>
   
    </div>
    </div>
       <div class="row">
              <div class="row-4">
        <div class="col-sm-3">
          <div class="well">
           <div >
     		 <div  class="allavilableCourse" id= {{allavilableCourse.id}}   data-ng-click ="redirect(allavilableCourse.id)"   ng-repeat="allavilableCourse in getAvileableCourses ">
 				 <button class="btn btn-danger btn-lg" style="float: right;"><span class="glyphicon glyphicon-trash"></span></button> 
 				 <button class="btn btn-info btn-lg" style="float: right;"><span class="glyphicon glyphicon-pencil"></span></button>
            <h2>{{allavilableCourse.name}}</h2>
            <b>by : <i>{{allavilableCourse.instructor.firstname}} {{allavilableCourse.instructor.lastname}}</i></b>
             <h4>{{allavilableCourse.agenda}}</h4>
          </div>
        </div>
          </div>
        </div>

      </div>
       </div>
      </div>
 	 </div>
       <div   class="studentCoursesdiv"    data-ng-click ="redirect(studentcourse.course.id)"  class="row-3" data-ng-repeat="studentcourse in Studentcourses ">
        <div class="col-sm-3">
         <div class="well">
            <h2>{{studentcourse.course.name}}</h2>
            <b>by : <i>{{studentcourse.course.instructor.firstname}} {{studentcourse.course.instructor.lastname}}</i></b>
             <h4>{{studentcourse.course.agenda}}</h4>
          </div>
        </div>
      </div>
             <div class="tagcourse"  data-ng-click ="redirect(tag .id)"  data-ng-repeat="tag in tagcourse">
             <div class="col-sm-3">
       <div class="well">
            <h2>{{tag.name}}</h2>
             <b>by : <i>{{tag.instructor.firstname}} {{tag.instructor.lastname}}</i></b>
             <h4>{{tag.agenda}}</h4>
      </div>
      </div>
</div>
  </div>

